# DSCI 503 - Homework 03
### Matt Snyder

## Problem 1: Dot Product

In [1]:
def dot_product(x: list, y: list):
    result = 0
    for i in range(0, len(x)):
        result += x[i] * y[i]
    return result

In [2]:
v1 = [38, 9, 40, 34, 20, 16, 42, 36, 12, 1, 23, 46, 31, 19, 30, 33, 16, 43, 24, 41]
v2 = [43, 13, 35, 14, 26, 3, 36, 15, 42, 44, 45, 20, 17, 6, 47, 40, 38, 41, 31, 24]
v1_dot_v2 = dot_product(v1, v2)
print (f'The dot product of v1 and v2 is {v1_dot_v2}.')

The dot product of v1 and v2 is 16220.

## Problem 2: Amortization

In [4]:
def count_payments(amount, rate, pmt):
    """The parameter amount represents the initial size of a loan that is to be repaid with monthly payments. The parameter
        rate is the monthly rate at which the loan collects interest, and pmt is the size of the monthly payment.
    """
    balance = amount
    payments = 0
    # The loop should continue to run for as long as the balance is greater than zero.
    while balance > 0:
        # Calculate the new balance. This will be done by multiplying the current balance by 1+i, and then subtracting
        # the payment amount. Store the result back into balance, rounded to 2 decimal places.
        balance = round(balance * (1+rate) - pmt, 2)
        # Increment a variable used to count the number of payments that have been made
        payments += 1
    return payments

In [8]:
# Assume that a loan is made in the amount of $160,000 and is charged a monthly interest rate of 0.4%. Use a loop along
# with the function count_payments() to determine the number of monthly payments that must be made in order to repay the loan
for pmt in range(850, 1050+50, 50): # 850, 900, 950, 1000, 1050
    payment_count = count_payments(160000, 0.4/100, pmt)
    print (f'{payment_count} monthly payments of ${pmt} would be required.')

351 monthly payments of $850 would be required.
312 monthly payments of $900 would be required.
281 monthly payments of $950 would be required.
256 monthly payments of $1000 would be required.
236 monthly payments of $1050 would be required.

In [9]:
# Assume that the borrow mentioned in the previous set of instructions has an opportunity to borrow the $160,000 at a
# lower monthly interest rate of 0.35%. Repeat the instructions from the previous cell using the new interest rate.
for pmt in range(850, 1050+50, 50): # 850, 900, 950, 1000, 1050
    payment_count = count_payments(160000, 0.35/100, pmt)
    print (f'{payment_count} monthly payments of ${pmt} would be required.')

308 monthly payments of $850 would be required.
279 monthly payments of $900 would be required.
255 monthly payments of $950 would be required.
235 monthly payments of $1000 would be required.
219 monthly payments of $1050 would be required.

## Problem 3: Minimum

In [17]:
def minimum(x: list):
    """ a single parameter named x, which is expected to be a list of elements of the same type. The function should 
        return the smallest element of x. The function should work on lists of integers, floats, and strings. 
        In each case, the "smallest" element is defined as the one with the lowest ranking with
        respect to the < comparison operator. For strings, this should yield the earliest string when ordered alphabetically.
    """
    if len (x) == 0:
        return None
    elif len (x) == 1:
        return x[0]
    else: # len at least 2
        result = x[0]
        for next_ele in x[1:]:
            if next_ele < result:
                result = next_ele
        return result

In [26]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ['St. Louis', 'Kansas City', 'Chicago', 'Little Rock', 'Omaha']
print (f'Minimum of list1 is {minimum(list1)}')
print (f'Minimum of list2 is {minimum(list2)}')
print (f'Minimum of list3 is {minimum(list3)}')

Minimum of list1 is 4.1
Minimum of list2 is 3.4
Minimum of list3 is Chicago

## Problem 4: Argmin

In [22]:
def argmin(x: list):
    """ a single parameter named x, which is expected to be a list of elements of the same type. The function should 
        return the index of smallest element of x. If there are multiple elements all equal to the smallest element, 
        then the function should return the index of the first occurrence of an element with this value.
    """
    if len (x) == 0:
        return None
    elif len (x) == 1:
        return x[0]
    else: # len at least 2
        result = 0
        for i in range(1, len(x[1:])):
            if x[i] < x[result]:
                result = i
        return result

In [27]:
print (f'Argmin of list1 is {argmin(list1)}')
print (f'Argmin of list2 is {argmin(list2)}')
print (f'Argmin of list3 is {argmin(list3)}')

Argmin of list1 is 6
Argmin of list2 is 0
Argmin of list3 is 2

## Problem 5: Find Smallest Elements

In [47]:
def find_smallest(x: list, n = None):
    """ If n is set to None, then the function should return the smallest element of x (not as part of a list).
        If n is set to a positive integer, the function should return a list consisting of the smallest n elements of list x.
        If n is greater than the length of the list x, then the entire list x should be returned.
    """
    if x == None:
        return None
    else:
        sorted_x = sorted(x)
        if n == None:
            return sorted_x[0]
        elif n > len(x):
            return x
        else:
            # not clear in problem statement, but assuming the ordering of elements in result should be same as original order
            result = []
            result_sorted = sorted_x[0:n]
            for original in x:
                if original in result_sorted:
                    result.append(original)
                    # remove a copy from sorted list, to ensure we don't include too many copies of dups from original
                    result_sorted.remove(original) 
            return result

In [48]:
# Create a list named my_list containing the values 39, 74, 28, 64, 17, 28, 54, 53 (in that order). Print the results of each
# of the following function calls.
my_list = [39, 74, 28, 64, 17, 28, 54, 53]
print (find_smallest(my_list))
print (find_smallest(my_list, 1))
print (find_smallest(my_list, 2))
print (find_smallest(my_list, 5))
print (find_smallest(my_list, 12))

17
[17]
[28, 17]
[39, 28, 17, 28, 53]
[39, 74, 28, 64, 17, 28, 54, 53]

In [38]:
print (my_list[0:2])

[39, 74]