# DSCI 503 - Homework 07
### Matt Snyder

In [1]:
# Import numpy, pandas, and matplotlib.pyplot using the standard aliases. Import LinearRegression,
# LogisticRegression, and train_test_split from sklearn.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression

In [5]:
# Load the data stored in the tab-delimited file nyc.txt into a DataFrame named nyc. 
nyc = pd.read_table('nyc.txt')

# Use head() to display the first 10 rows of this DataFrame.
nyc.head()

   Price  Food  Decor  Service  Wait  East
0     43    22     18       20    36     0
1     32    20     19       19    22     0
2     34    21     13       18    20     0
3     41    20     20       17    25     0
4     54    24     19       21    32     0

In [11]:
# Create a 2D feature array named X1 containing the relevant features, as well as a 1D label array named y1 containing the labels. 
X1 = nyc.iloc[:,1:].values
y1 = nyc.iloc[:,0].values

# Use train_test_split() to split the data into training and testing sets using an 80/20 split. Name the
# resulting arrays X_train_1, X_test_1, y_train_1, and y_test_1. Set random state=1.
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X1, y1, test_size = 0.2, random_state=1)

# Print the shapes of X_train_1 and X_test_1. Include text labeling the two results as shown below
print(f'Training Features Shape: {X_train_1.shape}')
print(f'Test Features Shape:     {X_test_1.shape}')

Training Features Shape: (134, 5)
Test Features Shape:     (34, 5)

In [12]:
# Create a linear regression model named nyc_mod and then fit it to the training data. 
nyc_mod = LinearRegression()
nyc_mod.fit(X_train_1, y_train_1)

# Display the intercepts and coefficients for the final model with text labels as shown below. 
print (f'Intercept:    {nyc_mod.intercept_}')
print (f'Coefficients: {nyc_mod.coef_}')

Intercept:    -23.755435322488907
Coefficients: [ 1.55693926  2.00700907 -0.25440527  0.09203064  2.63235537]

In [13]:
# Calculate and print the training and testing r-squared values for your model, rounded to four decimal places. 
train_r2 = nyc_mod.score(X_train_1, y_train_1)
test_r2 = nyc_mod.score(X_test_1, y_test_1)
print (f'Training r-Squared: {round(train_r2, 4)}')
print (f'Testing r-Squared:  {round(test_r2, 4)}')

Training r-Squared: 0.6306
Testing r-Squared:  0.6245

In [26]:
# Use your model to generate price estimates based on the feature values in the test set. Store the results in a variable named test_pred_1.
test_pred_1 = nyc_mod.predict(X_test_1)

# Print the first 10 observed y-values for the test set, and then the first 10 predictions, rounded to 2 decimal places. 
np.set_printoptions(precision=2, floatmode='fixed') # fixed display of 2 decimal places, appropriate for prices
print (f'Observed Prices:  {np.round(np.float64(y_test_1[:10]),2)}') # convert prices to float so values will line up vertically
print (f'Estimated Prices: {np.round(test_pred_1[:10],2)}')

Observed Prices:  [33.00 45.00 54.00 38.00 22.00 47.00 38.00 51.00 46.00 47.00]
Estimated Prices: [39.20 38.09 49.35 39.26 19.72 47.40 36.85 50.07 48.26 43.01]

In [31]:
# Create a DataFrame named nyc_new that contains the feature values for these 3 restaurants. 
column_names = ['Food', 'Decor', 'Service', 'Wait', 'East']
nyc_new = pd.DataFrame([[22, 12, 20, 15, 0], [18, 19, 22, 34, 1], [25, 22, 18, 36, 0]], columns = column_names)

# Pass this DataFrame to the predict() method of your model, storing the results in a variable named new_pred_1. 
new_pred_1 = nyc_mod.predict(nyc_new.values)

# Print the price predictions stored in this variable, rounded to 2 decimal places
print (f'Estimated Prices: {np.round(new_pred_1,2)}')

Estimated Prices: [30.87 42.57 58.06]