# DSCI 503 - Homework 02
### Matt Snyder

## Problem 1: Altering Lists

In [35]:
# Create two lists. One should be named employees and should contain the names of the employees as strings. The second should be named years and should contain the number of years of service for each employee, stored as integers.
employees = ['Beth', 'Fred', 'Drew', 'Alex', 'Emma', 'Chad']
years = [15, 11, 8, 5, 4, 2]

In [36]:
# Suppose that two employees from other departments transfer to this department. The new members are named Gina and Herb. 
# Gina has 12 years of service at the company and Herb has 3 years of experience.
# In addition, the company hire a new employee, Iris, to join the department. Iris has 0 years of experience with the company.
for new_name, new_years in [('Gina', 12), ('Herb', 3), ('Iris', 0)]:
    insert_position = len(employees)
    for i in range (0, len(employees)):
        if years[i] < new_years:
            insert_position = i
            break
    employees.insert(insert_position, new_name)
    years.insert(insert_position, new_years)
    
# Print both lists.   
print (employees, years)

['Beth', 'Gina', 'Fred', 'Drew', 'Alex', 'Emma', 'Herb', 'Chad', 'Iris'] [15, 12, 11, 8, 5, 4, 3, 2, 0]

In [37]:
# Fred accepts a position at another company. Remove his information from the lists.
delete_position = employees.index('Fred')
del employees[delete_position]
del years[delete_position]

# It is discovered that due to a clerical error, Emma's years of service was recorded incorrectly. She actually has 6 years of experience with the company rather than 4. Update the lists to reflect this new information. 
update_position = employees.index('Emma')
years[update_position] = 6
while True: # re-sort by year with bubblesort
    bubble_moved = False
    for i in range (0, len(employees)-1): 
        if years[i] < years[i+1]: # need to swap
            years[i], years[i+1] = years[i+1], years[i] 
            employees[i], employees[i+1] = employees[i+1], employees[i] 
            bubble_moved = True
    if not bubble_moved: # done if no more bubbling
        break

# Print both lists.
print (employees, years)

['Beth', 'Gina', 'Drew', 'Emma', 'Alex', 'Herb', 'Chad', 'Iris'] [15, 12, 8, 6, 5, 3, 2, 0]

## Problem 2: Sorting and Slicing Lists

In [38]:
import random
random.seed(12)
random_list = random.sample(range(500), 99)

In [42]:
print (f'Length of random_list: {len(random_list)}')
print (f'First 10 Elements of random_list: {random_list[0:10]}')

Length of random_list: 99
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [44]:
# Use the sum() function to calculate the sum of the elements in random_list. Print the result in the format shown below.
print (f'The sum of the elements in random list is {sum(random_list)}.')

The sum of the elements in random list is 23739.

In [51]:
# Create a list named sorted_list that contains the same elements of random_list, but sorted in increasing order.
sorted_list = sorted(random_list)
# Print the first ten elements of both lists on separate lines. Format your output as follows:
print (f'First 10 Elements of sorted_list: {sorted_list[0:10]}')
print (f'First 10 Elements of random_list: {random_list[0:10]}')

First 10 Elements of sorted_list: [0, 5, 9, 15, 26, 30, 31, 38, 42, 44]
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [52]:
# Create lists named bot_slice, mid_slice, and top_slice as follows:

# bot_slice should contain the smallest 33 elements in sorted_list.
bot_slice = sorted_list[0:33]
# mid_slice should contain the middle 33 elements in sorted_list.
mid_slice = sorted_list[33:66]
# top_slice should contain the largest 33 elements in sorted_list.
top_slice = sorted_list[66:]
# print (len(bot_slice),len(mid_slice),len(top_slice)) # verify slicing

# Print the six messages shown below, with the appropriate numerical values inserted in place of the xxxx symbols

print (f'The smallest element of bot_slice is {min(bot_slice)}.')
print (f'The largest element of bot_slice is {max(bot_slice)}.')
print (f'The smallest element of mid_slice is {min(mid_slice)}.')
print (f'The largest element of mid_slice is {max(mid_slice)}.')
print (f'The smallest element of top_slice is {min(top_slice)}.')
print (f'The largest element of top_slice is {max(top_slice)}.')

The smallest element of bot_slice is 0.
The largest element of bot_slice is 173.
The smallest element of mid_slice is 179.
The largest element of mid_slice is 311.
The smallest element of top_slice is 318.
The largest element of top_slice is 484.

## Problem 3: Calculating Sum of Squared Errors

In [53]:
length = [22.7, 22.4, 25.8, 21.3, 20.1, 22.1, 21.1, 25.3, 26.9, 26.9,
23.0, 23.8, 26.2, 20.4, 23.0, 21.9, 23.5, 27.8, 25.3, 25.9]
weight = [9.2, 8.8, 10.7, 8.3, 6.2, 8.6, 7.2, 11.2, 10.5, 11.3,
9.6, 9.9, 10.9, 5.9, 9.5, 9.1, 9.7, 11.6, 10.2, 10.5]

In [55]:
# Create a list named pred_weight that contains the predicted weight for each marmot, according to the biologist's model.
# You should begin by creating pred_weight as an empty list. Then loop over the elements of length. Each iteration of
# the loop should calculate a new predicted weight using the formula provided above, and rounded to 2 decimal places.
pred_weight = []
for L in length:
    pred_weight.append(round(0.6 * L - 5.2, 2))

# Print pred_weight.
print (pred_weight)

[8.42, 8.24, 10.28, 7.58, 6.86, 8.06, 7.46, 9.98, 10.94, 10.94, 8.6, 9.08, 10.52, 7.04, 8.6, 7.94, 8.9, 11.48, 9.98, 10.34]

In [56]:
# Use a for loop to calculate the model's SSE score for this sample of marmots.
# do it without creating any new lists and using only one loop.
SSE = 0.0
for i in range(0, len(pred_weight)):
    SSE += (pred_weight[i] - weight[i])**2

# Print the value of SSE, rounded to four decimal places. Note that the value stored in SSE should not be rounded, only the value displayed.
print (round(SSE, 4))

10.2236

## Problem 4: Calculating Exam Scores

In [64]:
# Create lists of named correct, answers1, and answers2 to store the correct answers for the exam, as well as the answers submitted by the two students. 
# The answers should be stored as strings of the form 'A', 'B', 'C', and 'D'.
A = 'A'
B = 'B'
C = 'C'
D = 'D'
correct_answers =   [D, B, C, A, C, D, A, C, C, B, D, A, B, D, C, D, C, D, C, A, B, D, C, B, A]
student_1_answers = [A, B, C, A, B, D, A, A, C, B, D, A, D, C, C, B, C, D, B, A, D, D, C, C, A]
student_2_answers = [D, A, C, A, B, D, A, C, C, B, D, A, B, D, A, D, C, D, C, A, B, C, C, B, A]

# Create variables named count1 and count2 to store the number of correct answers for each student.
# Use a single loop to simultaneously loop over all three lists. As you do so, count the number of correct answers for student 1 and student 2.
count1 = count2 = 0
for i in range(0, len(correct_answers)):
    count1 += (student_1_answers[i] == correct_answers[i])
    count2 += (student_2_answers[i] == correct_answers[i])

# When the loop is finished executing, divide each count of correct answers by the total number of questions and
# multiply by 100 to obtain the grades for both students. Store the results as integers in variables named grade1 and grade2.
grade1 = count1/len(correct_answers) * 100.0
grade2 = count2/len(correct_answers) * 100.0
# Print the results with descriptive messages as shown below, with the xxxx symbols replaced with the appropriate values. Match the format and spacing exactly.
print (f'Student 1 Grade: {grade1}%')
print (f'Student 2 Grade: {grade2}%')

Student 1 Grade: 64.0%
Student 2 Grade: 84.0%

## Problem 5: Determining Monthly Payments

In [70]:
# Create variables named i and n to store the interest rate rate and the number of monthly payments. These values will remain constant throughout this problem.
i = 0.4/100
n = 12 * 30

# Create a variable name start and set it equal to 100,000. Create another variable named increment and set it equal to 10,000.
start = 100000
end = 200000
increment = 10000

for L in range (start, end + increment, increment):
    # Calculate the new loan amount to be considered, storing the result in a variable.
    # Calculate the require monthly payment for this loan amount, rounded to 2 decimal places.
    PMT = L * i / (1 - (1+i)**(-n))
    # Print the result in the format shown below. Match the format exactly, including the inclusion of the
    print (f'A loan of ${L} would require monthly payments of ${PMT:.2f}.')

A loan of $100000 would require monthly payments of $524.67.
A loan of $110000 would require monthly payments of $577.13.
A loan of $120000 would require monthly payments of $629.60.
A loan of $130000 would require monthly payments of $682.06.
A loan of $140000 would require monthly payments of $734.53.
A loan of $150000 would require monthly payments of $787.00.
A loan of $160000 would require monthly payments of $839.46.
A loan of $170000 would require monthly payments of $891.93.
A loan of $180000 would require monthly payments of $944.40.
A loan of $190000 would require monthly payments of $996.86.
A loan of $200000 would require monthly payments of $1049.33.

## Problem 6: Creating an Amortization Schedule

In [73]:
# Create variables named balance, i and pmt to store the initial loan amount, interest rate, and monthly payment amount mentioned in the paragraph above.
balance, i, pmt = 160000, 0.4/100, 839.46

# Use a loop to perform the following tasks 360 times. As in Problem 5, you will need to use a name other than i
# for the loop counter. For convenience, I recommend starting the loop counter at 1 rather than 0.
for month in range (1, 360+1):
    # Calculate the new balance. This will be done by multiplying the current balance by 1+i, and then
    # subtracting the payment amount. Store the result back into balance, rounded to 2 decimal places.
    balance = round(balance * (1+i) - pmt, 2)
    # If current payment marks the end of a year of payments (i.e. if the loop counter is a multiple of 12),
    # then print a message in the format shown below. Match the format exactly, including the inclusion of
    if month % 12 == 0:
        print (f'The balance at the end of {month} months will be ${balance}.')

The balance at the end of 12 months will be $157553.12.
The balance at the end of 24 months will be $154986.16.
The balance at the end of 36 months will be $152293.23.
The balance at the end of 48 months will be $149468.18.
The balance at the end of 60 months will be $146504.5.
The balance at the end of 72 months will be $143395.39.
The balance at the end of 84 months will be $140133.72.
The balance at the end of 96 months will be $136711.97.
The balance at the end of 108 months will be $133122.33.
The balance at the end of 120 months will be $129356.56.
The balance at the end of 132 months will be $125406.0.
The balance at the end of 144 months will be $121261.57.
The balance at the end of 156 months will be $116913.78.
The balance at the end of 168 months will be $112352.64.
The balance at the end of 180 months will be $107567.68.
The balance at the end of 192 months will be $102547.91.
The balance at the end of 204 months will be $97281.84.
The balance at the end of 216 months will be $91757.37.
The balance at the end of 228 months will be $85961.81.
The balance at the end of 240 months will be $79881.85.
The balance at the end of 252 months will be $73503.55.
The balance at the end of 264 months will be $66812.25.
The balance at the end of 276 months will be $59792.61.
The balance at the end of 288 months will be $52428.53.
The balance at the end of 300 months will be $44703.11.
The balance at the end of 312 months will be $36598.58.
The balance at the end of 324 months will be $28096.34.
The balance at the end of 336 months will be $19176.93.
The balance at the end of 348 months will be $9819.84.
The balance at the end of 360 months will be $3.59.

## Problem 7: Calculating Price of a Bulk Order

In [76]:
# Create a list named quantities to store the order quantities mentioned above.
quantities = [84, 100, 126, 150, 186, 200, 216, 248]

# Loop over this list. Each time the loop executes, perform the following steps:
for q in quantities:
    # Calculate the price of the order.
    if q <= 100:
        order_price = 350.0 * q
    elif q <= 200:
        order_price = 100 * 350.0 + (q - 100) * 300.0
    else:
        order_price = 100 * 350.0 + 100 * 300.0 + (q - 200) * 250
    # Print a message in the format shown below, with the xxxx symbols replaced by the appropriate values.
    print (f'The cost for an order of {q} widgets is ${order_price}.')

The cost for an order of 84 widgets is $29400.0.
The cost for an order of 100 widgets is $35000.0.
The cost for an order of 126 widgets is $42800.0.
The cost for an order of 150 widgets is $50000.0.
The cost for an order of 186 widgets is $60800.0.
The cost for an order of 200 widgets is $65000.0.
The cost for an order of 216 widgets is $69000.0.
The cost for an order of 248 widgets is $77000.0.

## Problem 8: Adding Matrices

In [77]:
# Create two lists named A and B to represent the matrices above. Each of these lists should contain three lists, 
# with each sub-list containing 5 integers representing a row in the matrix. 
# For example, the first element of A should be the list [13, 43, 28, 22, 41].
A = [[13, 43, 28, 22, 41], [17, 39, 46, 16, 21], [41, 34, 31, 25, 14]]
B = [[35, 29, 43, 21, 31], [48, 26, 19, 17, 23], [32, 34, 24, 16, 27]]

In [82]:
# Create an empty list named AplusB. 
AplusB = []
# Write a nested loop that adds the elements of A and B, storing the result in AplusB. Each time the outer loop executes, 
# it should calculate a new row of the sum and should finish by adding this row to AplusB. The final structure of AplusB should be the same as A and B.
for row in range(0, len(A)):
    # AplusB.append([A[row][i] + B[row][i] for i in range(0, len(A[row]))])
    aplusb_row = []
    for column in range (0, len(A[row])):
        aplusb_row.append(A[row][column] + B[row][column])
    AplusB.append(aplusb_row)
        
# Print the rows of AplusB, with each row appearing on its own line.
for row in range(0, len(AplusB)):
    print(AplusB[row])

[48, 72, 71, 43, 72]
[65, 65, 65, 33, 44]
[73, 68, 55, 41, 41]