# DSCI 503 â€“ Project 01
### Matt Snyder

# Introduction
Experiments with socioeconomic data spanning 219 years and 184 countries

In [2]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [3]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [4]:
N = 22222
print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ' , year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Sierra Leone
Continent:  africa
Year:  1920
Population:  1670000
Life Expectancy:  29.1
Per Capita GDP:  1170
Gini Index:  45.1

# Part 1: Displaying Past 20 Years of US Data
Extract and display US records from 1999

In [54]:
us_indices = [index for index, value in enumerate(country) if value == 'United States']

print ('Year    Country          Population   LExp    pcGDP    Gini')
print ('-----------------------------------------------------------')

for i in us_indices:
    if year[i] >= 1999:
        print(f'{year[i]:<8}{country[i]:<17}{population[i]:<13}{life_exp[i]:<8}{pcgdp[i]:<9}{gini[i]:<4}')

Year    Country          Population   LExp    pcGDP    Gini
-----------------------------------------------------------
1999    United States    279000000    76.8    44700    40.5
2000    United States    282000000    76.9    46000    40.5
2001    United States    285000000    77.0    46000    40.5
2002    United States    288000000    77.1    46400    40.5
2003    United States    290000000    77.3    47300    40.5
2004    United States    293000000    77.5    48600    40.6
2005    United States    295000000    77.7    49800    40.7
2006    United States    298000000    77.9    50600    40.8
2007    United States    301000000    78.1    51000    40.8
2008    United States    303000000    78.3    50400    40.8
2009    United States    306000000    78.6    48600    40.7
2010    United States    309000000    78.7    49400    40.7
2011    United States    311000000    78.8    49800    40.7
2012    United States    313000000    78.9    50500    40.8
2013    United States    316000000    78.9    51000    41.0
2014    United States    318000000    78.9    51800    41.2
2015    United States    320000000    78.8    52800    41.3
2016    United States    322000000    78.8    53300    41.4
2017    United States    324000000    79.0    54200    41.5
2018    United States    327000000    79.1    54900    41.5

# Part 2: Selecting the 2018 Data
Extract all records from 2018 and calculate global population in that year

In [58]:
# Create six empty lists named: country_2018, population_2018, continent_2018, life_exp_2018, pcgdp_2018, and gini_2018.
# Populate the new lists by looping over the original lists. At each iteration of the loop, check to see if the
# associated record is from 2018. It is is, store each piece of the record in one of the six new lists, as appopriate.
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []
for i in range(0, len(country)):
    if year[i] == 2018:
        country_2018.append(country[i])
        population_2018.append(population[i])
        continent_2018.append(continent[i])
        life_exp_2018.append(life_exp[i])
        pcgdp_2018.append(pcgdp[i])
        gini_2018.append(gini[i])

In [59]:
# Use the sum() function to calculate the total population of the world in 2018, storing the result in a variable global_population_2018. Print this result in the following format:
global_population_2018 = sum(population_2018)
print (f'The global population in 2018 was {global_population_2018}.')

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations
Sort populations to find a range of 10 at the top and bottom, and list those countries

In [61]:
# Create a sorted copy of the list population_2018. Store this new list in a variable. Note the the list population_2018 should NOT itself be sorted.
sorted_pop_2018 = sorted(population_2018)

# Use the sorted list to determine the population of the country with the tenth largest population. Store the results in a variable.
tenth_highest_pop = sorted_pop_2018[-10]

# Print the first two lines displayed in the sample output shown below.
print ('Countries with Largest Populations in 2018')
print ('------------------------------------------------------')

# Use a loop to print information for each country with a population greater than or equal to the value you found in Step 2 
for i in range(0, len(country_2018)):
    if population_2018[i] >= tenth_highest_pop:
        print (f'The population of {country_2018[i]} in 2018 was {population_2018[i]}.')

Countries with Largest Populations in 2018
------------------------------------------------------
The population of Bangladesh in 2018 was 166000000.
The population of Brazil in 2018 was 211000000.
The population of China in 2018 was 1420000000.
The population of India in 2018 was 1350000000.
The population of Indonesia in 2018 was 267000000.
The population of Mexico in 2018 was 131000000.
The population of Nigeria in 2018 was 196000000.
The population of Pakistan in 2018 was 201000000.
The population of Russia in 2018 was 144000000.
The population of United States in 2018 was 327000000.

In [63]:
tenth_lowest_pop = sorted_pop_2018[9]

print ('Countries with Smallest Populations in 2018')
print ('------------------------------------------------------')

for i in range(0, len(country_2018)):
    if population_2018[i] <= tenth_lowest_pop:
        print (f'The population of {country_2018[i]} in 2018 was {population_2018[i]}.')

Countries with Smallest Populations in 2018
------------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103000.
The population of Grenada in 2018 was 108000.
The population of Kiribati in 2018 was 118000.
The population of Micronesia, Fed. Sts. in 2018 was 106000.
The population of Samoa in 2018 was 198000.
The population of Sao Tome and Principe in 2018 was 209000.
The population of Seychelles in 2018 was 95200.
The population of St. Lucia in 2018 was 180000.
The population of St. Vincent and the Grenadines in 2018 was 110000.
The population of Tonga in 2018 was 109000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies
Sort life expectancies to find a range of 10 at the top and bottom, and list those countries

In [65]:
sorted_life_2018 = sorted(life_exp_2018)
tenth_highest_life = sorted_life_2018[-10]
tenth_lowest_life = sorted_life_2018[9]

print ('Countries with Highest Life Expectancy in 2018')
print ('------------------------------------------------------')
for i in range(0, len(country_2018)):
    if life_exp_2018[i] >= tenth_highest_life:
        print (f'The life expectancy of {country_2018[i]} in 2018 was {life_exp_2018[i]}.')
print ('\n')
print ('Countries with Lowest Life Expectancy in 2018')
print ('------------------------------------------------------')
for i in range(0, len(country_2018)):
    if life_exp_2018[i] <= tenth_lowest_life:
        print (f'The life expectancy of {country_2018[i]} in 2018 was {life_exp_2018[i]}.')

Countries with Highest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Australia in 2018 was 82.9.
The life expectancy of France in 2018 was 82.6.
The life expectancy of Iceland in 2018 was 82.6.
The life expectancy of Israel in 2018 was 82.4.
The life expectancy of Italy in 2018 was 82.6.
The life expectancy of Japan in 2018 was 84.2.
The life expectancy of Luxembourg in 2018 was 82.4.
The life expectancy of Norway in 2018 was 82.4.
The life expectancy of Singapore in 2018 was 84.0.
The life expectancy of Spain in 2018 was 83.2.
The life expectancy of Sweden in 2018 was 82.4.
The life expectancy of Switzerland in 2018 was 83.5.


Countries with Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Afghanistan in 2018 was 58.7.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Chad in 2018 was 60.5.
The life expectancy of Guinea-Bissau in 2018 was 59.7.
The life expectancy of Lesotho in 2018 was 51.1.
The life expectancy of Sierra Leone in 2018 was 60.0.
The life expectancy of Somalia in 2018 was 58.0.
The life expectancy of Swaziland in 2018 was 58.6.
The life expectancy of Zambia in 2018 was 59.5.
The life expectancy of Zimbabwe in 2018 was 60.2.

# Part 5: Calculating GDP by Country

In [69]:
# Create an empty list named gdp_2018. Use a loop to populate this list. Each new element of the list should be equal to
# the total GDP of a single country in 2018. The order of the elements in this new list should match that of the other lists for the 2018 data.
gdp_2018 = []
for i in range(0, len(country_2018)):
    gdp_2018.append(pcgdp_2018[i] * population_2018[i])

# Use sum() to find the sum of gdp_2018, displaying the result with a message in the format shown below.
global_gdp = sum(gdp_2018)
print (f'The total global GDP in 2018 was ${global_gdp}.')

The total global GDP in 2018 was $118225647770000.

In [74]:
# Use the min() and max() functions and the index() method to find the country with the highest GDP in 2018 as well as the country with the lowest GDP in 2018.
highest_gdp = max(gdp_2018)
lowest_gdp = min(gdp_2018)
highest_gdp_index = gdp_2018.index(highest_gdp)
lowest_gdp_index = gdp_2018.index(lowest_gdp)
print (f'The country with the highest GDP in 2018 was {country_2018[highest_gdp_index]} with a GDP of {gdp_2018[highest_gdp_index]}.')
print (f'The country with the lowest GDP in 2018 was {country_2018[lowest_gdp_index]} with a GDP of {gdp_2018[lowest_gdp_index]}.')

The country with the highest GDP in 2018 was China with a GDP of 22720000000000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of 223020000.