# DSCI 503 â€“ Project 01
### Matt Snyder

# Introduction
Experiments with socioeconomic data spanning 219 years and 184 countries

In [2]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [3]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [4]:
N = 22222
print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ' , year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Sierra Leone
Continent:  africa
Year:  1920
Population:  1670000
Life Expectancy:  29.1
Per Capita GDP:  1170
Gini Index:  45.1

# Part 1: Displaying Past 20 Years of US Data

In [53]:
# first method to find indices of US entries, works but not very readible
i = country.index('United States')
print (i)
us_indices = [i]
while i > 0:
    try:
        i += country[i+1:].index('United States') + 1
        us_indices.append(i)
    except:
        break
# print (len(us_indices))
# print (us_indices[0:10])

# second method to find indices of US entries, same result and more readible
us_indices = [index for index, value in enumerate(country) if value == 'United States']
# print (len(us_indices))
# print (us_indices[0:10])

print ('Year    Country          Population   LExp    pcGDP    Gini')
print ('-----------------------------------------------------------')
# year  -------- 8
# country       ----------------- 17
# population                     ------------- 13
# life exp                                    -------- 8
# GDP                                                 --------- 9
# gini                                                         ---- 4

for i in us_indices:
    if year[i] >= 1999:
        print(f'{year[i]:<8}{country[i]:<17}{population[i]:<13}{life_exp[i]:<8}{pcgdp[i]:<9}{gini[i]:<4}')

175
Year    Country          Population   LExp    pcGDP    Gini
-----------------------------------------------------------
1999    United States    279000000    76.8    44700    40.5
2000    United States    282000000    76.9    46000    40.5
2001    United States    285000000    77.0    46000    40.5
2002    United States    288000000    77.1    46400    40.5
2003    United States    290000000    77.3    47300    40.5
2004    United States    293000000    77.5    48600    40.6
2005    United States    295000000    77.7    49800    40.7
2006    United States    298000000    77.9    50600    40.8
2007    United States    301000000    78.1    51000    40.8
2008    United States    303000000    78.3    50400    40.8
2009    United States    306000000    78.6    48600    40.7
2010    United States    309000000    78.7    49400    40.7
2011    United States    311000000    78.8    49800    40.7
2012    United States    313000000    78.9    50500    40.8
2013    United States    316000000    78.9    51000    41.0
2014    United States    318000000    78.9    51800    41.2
2015    United States    320000000    78.8    52800    41.3
2016    United States    322000000    78.8    53300    41.4
2017    United States    324000000    79.0    54200    41.5
2018    United States    327000000    79.1    54900    41.5

# Part 2: Selecting the 2018 Data